<%- include('../layouts/start.ejs') %>


   <link rel="stylesheet" href="/style/auth.css">

      <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <script defer src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<main>
    <%- include('../layouts/navigation.ejs') %>

</main>


<%- include('../layouts/end.ejs') %>