<%- include('../includes/start.ejs') %>
   <link rel="stylesheet" href="/style/auth.css">
      <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <script defer src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<main>

</main>


<%- include('../includes/end.ejs') %>