</main>

</div>

<div id="confirmModal" class="confirm-modal hidden">
  <div class="confirm-box">
    <h3>Delete Product?</h3>

    <div class="confirm-actions">
      <button id="cancelBtn" class="btn cancel-btn">Cancel</button>
      <button id="confirmBtn" class="btn danger-btn">Delete</button>
    </div>
  </div>
</div>
</body>
</html>
