
<header class="header flex">
     <div class="logo">
          <img src="../img_src/lamborghini-car-logo.jpg" alt="">
     </div>

<nav class="navbar flex">
<ul class="links_bar flex">
     <li class="link">

          <a href="/home" class="<%= path === '/home' ? 'active' : '' %>">Home</a>
     </li>
   
     <li class="link">

          <a href="/admin/add-product" class="<%= path === '/app-product' ? 'active' : ''%>" >Add Product</a>
     </li>
     <li class="link">

          <a href="/" class="<%= path === '/shop' ? 'active' : ''%>">My Product</a>
     </li>
</ul>
</nav>
</header>