<header class="header flex">
     <div class="logo">
          <img src="../img_src/lamborghini-car-logo.jpg" alt="">
     </div>

<nav class="navbar flex">
<ul class="links_bar flex">
     <li class="link">

          <a href="/home">Home</a>
     </li>
   
     <li class="link">

          <a href="/app.product">Add Product</a>
     </li>
     <li class="link">

          <a href="/">My Product</a>
     </li>
</ul>
</nav>
</header>