<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta property="og:title" content="My Online Shop">
     <meta property="og:type" content="website">
     <!-- <meta property="og:image" content=""> -->
      <meta property="url" content="https://github.com/Tamana543/My_onlineShop">
      <meta property="og:description" content="My small online shop, curious how to use node.js for making an online shop? Click here ">
      <meta property="og:locale" content="en_US">
      <meta property="og:site_name" content="Online Shop">
 
     <link rel="stylesheet" href="/Css/main.css">
     <title><%= pageTitle %></title>