<%- include('layouts/start.ejs') %>
    <link rel="stylesheet" href="/Css/404.css" />
    <link rel="stylesheet" href="/Css/responsive.css">
<script src="/js/main.js" defer></script>
   
  </head>
  <body>
    <div id="container">
      <header>
  
   </header>
      <div id="error-box">
        <div class="dot"></div>
        <div class="dot two"></div>
        <div class="face2">
          <div class="eye"></div>
          <div class="eye right"></div>
          <div class="mouth sad"></div>
        </div>
        <div class="shadow move"></div>
        <div class="message flex">
          <h1 class="alert">Error!</h1>
          <p class="error_message">Page Not found !!.</p>
        </div>
        <button class="button-box" > <p ><a class="link" href="/" >Home</a></p></button>
      </div>
    </div>
  </body>
</html>