doctype html
html(lang="en")
     head
          meta(charset="UTF-8")
          meta(name="viewport", content="width=device-width, initial-scale=1.0")
          title 404 Error
          link(rel="stylesheet", href="/Css/404.css")
          link(rel="stylesheet", href="/Css/main.css")
     body 
          .container 
               //- header
               //-      nav.navbar
               //-           .logo
               //-                img(src="../img_src/lamborghini-car-logo.jpg",alt="Logo Image ")
               //-           ul.links_bar
               //-                li.link

               //-                     a(href="/home") Home 
               //-                li.link
               //-                     a(href="/app.product") Add Product
               //-                li.link

               //-                      a(href="/") My Product
               .error-box
                    .dot
                    .dot.two
                    .face2
                         .eye
                         .eye.right
                         .mouth.sad
                    .shadow.move
                    .message
                         h1.alert Error!
                         p.error_message Page Not found !! 
        
                    button.button-box 
                         p 
                              a.link(href="/home") Home
     