extends layouts/main.pug

block styleLinks
     link(rel="stylesheet", href="/Css/addProduct.css")

block contains 
     main.flex 
                    
               form.form.flex(method="post" action="/product")
                    input(type="text" name="title")
                    button(type="submit") Add Product
               footer.flex
                     class.logo
                         img(src="../img_src/lamborghini-car-logo.jpg" alt="Logo Iamge")
                     p Cooded by
                         a.footer__link(target="_blank", href=" https://github.com/Tamana543" ,title="contact me 👩‍💻 ") Tamana Farzami