<%- include('layouts/start.ejs') %>
     <link rel="stylesheet" href="/Css/addProduct.css">
</head>

<body>
     <div class="container">
          <%- include('layouts/navigation.ejs') %>
     <main class="flex">
          <form method="post" action="/product" class="form flex">
               <input type="text" name="title">
               <button type="submit">Add Product</button>
          </form>
          <%- include('layouts/end.ejs') %>