
<div id="confirmModal" class="modal hidden">
  <div class="modal-content">
    <h3>Delete Product?</h3>
    <p>This action cannot be undone.</p>

    <div class="modal-actions">
      <button id="cancelBtn" class="btn cancel-btn">Cancel</button>
      <button id="confirmBtn" class="btn delete-btn">Delete</button>
    </div>
  </div>
</div>