<%- include('layouts/start.ejs') %>
<link rel="stylesheet" href="/Css/home.css">
<link rel="stylesheet" href="/Css/responsive.css">
</head>
<body>
     <div class="container">
         <%- include('layouts/navigation.ejs') %>
     
     <main class="flex">
          <div class="body_head ">
               
               <div class="data flex">
                              <h2 class="sub_head">The Street is all yours. <span class="highlight">Lambo Revuelto...</span></h2>
                              <p class="details">Revuelto, the first HPEV (High Performance Electrified Vehicle) hybrid super sports car. </p>
                              <div class="btns">
                                   <a href="/login" class=" btn main_btn">LogIn </a>
                                   <a href="/signup" class=" btn sub_btn">SignUp </a>
                              </div>
                              <div class="engine flex">
                                   <span>
                                        <p class="data ">350 km/h</p>
                                        <p class="data_sub">Top speed</p>
                                   </span>
                             
                                   <span>
                                        <p class="data">17,8 l/100km (WLTP)</p>
                                        <p class="data_sub">Battery Range</p>
                                   </span>
                            
                                   <span>
                                        <p class="data">1015 CV</p>
                                        <p class="data_sub">Max Power</p>
                                   </span>
                              </div>
                         </div>
               
                    <!-- <img src="./img_src/mainBackground_Img.jpg." alt="car Photo" srcset=""> -->
               <div class="car_details flex">
                     
                    
                        
                    </div>
              
          </div>
         
     <%- include('layouts/end.ejs') %>