<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>My Shop</title>
     <link rel="stylesheet" href="/Css/main.css">
</head>

<body>
     <div class="container">
          <header class="header flex">
               <div class="logo">
                    <img src="../img_src/lamborghini-car-logo.jpg" alt="">
               </div>

     <nav class="navbar flex">
         

          <ul class="links_bar flex">
               <li class="link">

                    <a href="/home">Home</a>
               </li>
             
               <li class="link">

                    <a href="/app.product">Add Product</a>
               </li>
               <li class="link">

                    <a href="/">My Product</a>
               </li>
          </ul>
     </nav>
     </header>
     
     <main>
          <div class="body_head">

               <h2 class="sub_head">My Products</h2>
               <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
          <footer class="flex">
               <div class="logo">
                    <img src="../img_src/lamborghini-car-logo.jpg" alt="">
               </div>
               <p>
                 Cooded by
                 <a
                   class="footer__link"
                   target="_blank"
                   href=" https://github.com/Tamana543"
                   title="contact me 👩‍💻 "
                   >Tamana Farzami</a
                 >
               </p>
             </footer>
     </main>
</div>
</body>
</html>