main {
     flex-direction: column;
  
   align-items: center !important;
   justify-content: space-between !important;
   gap: 10%;
     
}
.container {
     min-height: 100%;
     width: 100%;
}
form {
     flex-direction: column;
     padding: 3%;
}
label {
     font-size: 1.5rem;
     margin-bottom: 1%;
}
.form-control {
     flex-direction: column;
     margin-bottom: 13%;
    
}
input,textarea {
      background-color: transparent !important;
     border: 1px solid #DDB321;
     font-family: "Lato",sans-serif;
     font-weight: bold;
     font-size: 18px;
     padding: 1% 1%;
     color: #f4d569e2;
  outline: none;
  margin-right: 5%;
  width: 350px;
  height: 30px;
}

input:focus,
textarea:focus,
select:focus-visible {
  border-color: #ffeb3b !important;
  outline: #ffeb3b !important;
  box-shadow: 0 0 8px rgba(221, 179, 33, 0.4);
}

textarea {
     height: 90px !important;
}
textarea::-webkit-scrollbar-thumb {
    background: #c99c38; /* Gold scrollbar thumb */
    border-radius: 2px;
}
textarea::-webkit-scrollbar {
    width: 5px;
}


.category {
  display: flex;
  gap: 10px;
align-items: center;
}


.category input {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #DDB321;
  background: transparent;
  color: rgb(103, 99, 99);

        width: 364px;
    height: 39px;
}

.category select {
    appearance: none;
    -webkit-appearance: none;
    background-color: #111 !important; 
    color: #f4d569e2 !important;       
    padding: 8px 15px;
    border: 1px solid #DDB321;
    border-radius: 5px;
    width: 364px;
    height: 45px; 
    cursor: pointer;
}

select option {
    background-color: #111 !important; 
    color: #f4d569e2 !important;       
    padding: 10px;
}
.add_product-btn {
     width: 300px;
     height: 50px;
     border-radius: 11px;
     border: none;
     background-color: #DDB321;
     color: #000;
     font-family: "Lato",sans-serif;
     font-weight: bold;
     font-size: 18px;
     letter-spacing: 0%;
     margin: 4% 0%;
}
.add_product-btn:hover {
     cursor: pointer;
     box-shadow: 1px 1px 13px 1px #DDB321;
}

/* Image preview */
.image-pre-cont{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;   
}
.floating-preview {
  position: fixed;
   left: 380px; 
  top: 50%;
  transform: translateY(-50%) scale(0.9);

  width: 180px;
  height: 120px;
  background: #1f1f1f;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
  z-index: 9999;

  opacity: 0;
  /* transform: translateY(20px); */
  transition: all 0.4s ease;
}

.floating-preview.show {
  opacity: 1;
  transform: translateY(0);
}

.floating-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidden {
  display: none;
}