body {
    background: #000;
    font-family: "Lato", sans-serif;
}
main {
    padding-top: 40px;
}
ol, ul {
    /* padding-left: 2rem; */
    padding-left: 0% !important;
}
.container {
    width: 100%;
}

.row {
    margin: 0;
}

.add-product-box {
    margin-top: 0;
    background: #111;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(221,179,33,.45);
    padding: 40px;
}

.login-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #d4c372;
    margin-bottom: 40px;
}

.form-control-label {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 10px;
    display: block;
}


.form-control {
    background-color: transparent !important;
    border: 1px solid #DDB321 !important;
    border-radius: 6px;
    color: #fff !important;
    padding: 12px !important;
}

.form-control:focus {
    background-color: transparent !important;
    border-color: #ffeb3b !important;
    box-shadow: 0 0 8px rgba(221, 179, 33, 0.4) !important;
}

textarea.form-control {
    min-height: 120px;
    resize: none;
}

select.form-control {
    background-color: #111 !important;
    color: #fff !important;
}

.custom-btn {
    background: #DDB321;
    color: #000;
    border: none;
    border-radius: 6px;
    padding: 12px 30px !important;
    font-weight: bold;
    transition: 0.3s ease;
}

.custom-btn:hover {
    background: #ffeb3b;
    box-shadow: 0 0 10px rgba(221, 179, 33, 0.5);
        color: #1f1f1f !important;
}

.image-pre-cont {
    position: relative;
}

.floating-preview {
    position: absolute;
    right: -220px;
    top: 50%;
    transform: translateY(-50%);
    width: 180px;
    height: 120px;
    background: #1f1f1f;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    opacity: 0;
    transition: 0.4s ease;
}

.floating-preview.show {
    opacity: 1;
}

.floating-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden {
    display: none;
}



.warning{
  border-left-color: #f0ad4e;
  background-color: rgba(240, 173, 78, 0.1);
}

.oaerror{
  width:80%;
  background-color: #1A2226;
  padding:20px;
  border:1px solid #c99c38;
  border-left-width:5px;
  border-radius: 3px;
  margin:20px auto;
  font-size: 16px;
  text-align: center;
  color: white;
}