
main {
     min-height: 80vh;
     min-width: 100vh;
     position: relative;
}
.body_head {
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;

}
.body_head div {
margin-top: 14%;
}
.sub_head {
     font-size: 2.3rem;
     margin-bottom: 5%;
     color: #fff;
     position: absolute;
     top: 10%;
}
.highlight {
     font-style: italic;
     color: #f0d77e;
     display: block;
     margin: 4% 10%;
     border-bottom: 1px solid #f0d77e ;
}
.data {
     flex-direction: column;
     width: 80%;
  /* height: 100%; */
  text-align: center;
  gap:3%;
}
.car_details {
   gap: 10%;
     height: 530px;
 grid-column: 2 / -1;

 background-image: url(../img_src/Lamborghini-Huracan-Lp-Black-Dark-iphone-8.jpg);
 background-repeat: no-repeat;
 background-position:center;
  background-size:auto;
 /* background-blend-mode: hard-light; */
 background-blend-mode: normal;
 transition:all 0.6s ease;

}
.engine  {
     /* position: relative ; */
     /* height: 65%;
     width: 90%; */
     width: 100%;
     gap: 3%;
     padding: 0 !important;
}
.engine span {
     margin: 2%;
}
.engine span p {
     width: 100% !important;
     /* position: absolute; */
}
.btns {
     width: 100%;
     margin: 0% 1%;
}
.btn {
     color: #fff;
     text-decoration: none;
     font-size: 1rem;
     padding: 3%;
}
.btn:hover {
     box-shadow: -1px 0px 6px 1px #fff;
}
.main_btn {
     background-color: #f0d77e;
     color: black;
     margin-left:2% ;
}
.sub_btn {
     border:1px solid  #f0d77e;
     
}