@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
* {
     padding: 0;
     margin: 0;
}
.flex {
     display:flex;
     justify-content: center;
     align-items: center;
}
body {
     color: #fff;
    
     background-color: #000;
}
.logo {
     width: 50%;
}
.logo img{
     width: 20%;
     height: 20%;
}
.navbar {
     width: 50%;

}
.links_bar {
list-style-type: none;
width: 100%;
/* font-size: 28; */
font-family: "Lato", serif;
margin: 5%;
}
.link {
width: 100%;

}

.link a {
text-decoration: none;
color: #ffffffb4;
}
.link a:hover {
transition: 2s cubic-bezier(0.42, 0, 0.99, 0.24) all;
color: #fff;
border-bottom: 1px solid #fff;

}
footer {
     position: absolute;
     bottom: 0;
     margin: 2% 0%;


}
footer a {
     text-decoration: none;
     color: #fff;
  padding: 3% 0%;
font-size: 1.2rem;
}
footer a:hover {
     border-bottom: 2px solid #ff2f5fa9;
}