@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
* {
     padding: 0;
     margin: 0;
}
.flex {
     display:flex;
     justify-content: center;
     align-items: center;
}
body {
     color: #ffffffc9;
    
     background-color: #000;
}
.logo {
     width: 30%;
}
.logo img{
     width: 30%;
     height: 22%;
}
.navbar {
     width: 60%;

}
.links_bar {
list-style-type: none;
width: 100%;
/* font-size: 28; */
font-family: "Lato", serif;
margin: 5%;
}
.link {
width: 100%;

}

.link a {
text-decoration: none;
color: #ffffffb4;
}
.link a:hover {

color: #DDB321;
/* border-bottom: 1px solid #f0d77e;
transition: line 0.1s ; */

}
 .link a::before {
content: "";
position: absolute;
top: 72px;
height: 4px;
width: 80px;
background-color:#f0d77e ;
border-radius: 50px;
transform: scaleX(0);
transition: transform 0.2s linear;
 }
 .link a:hover::before {
     transform: scaleX(1);
 }
.link a.active {
     color: #ffeb3b;
   }

footer a {
     text-decoration: none;
     color: #ffffffc4;
  padding: 3% 0%;
font-size: 1.2rem;
transform: scaleX(0);
}
footer a:hover {
     border-bottom: 2px solid #DDB321;
     transition: transform 0.2s linear;
     transform: scaleX(1);
}

@keyframes line {
     0% {
          width: 0%;
     }
     10% {
          width: 10%;
     }
     20% {
          width: 20%;
     }
     
     30% {
          width: 30%;
     }
     40% {
          width: 40%;
     }
     50% {
          width: 50%;
     }
     60% {
          width: 60%;
     }
     70% {
          width: 70%;
     }
     80% {
          width: 80%;
     }
     90% {
          width: 90%;
     }
     100% {
          width: 100%;
     }
     
}