@media (max-width : 500px) {
     .sub_head {
position: relative !important;
top: 0;
     }
     .body_head {
              grid-template-columns: 1fr;
     }
     .data {
         margin: 0 auto;
    width: 58%;
}
.home_main {
         min-width: 48vh;
}
.logo {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
header {
     flex-direction: column;
}

}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}

.hamburger .line{
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}