input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*  For fire fox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.body_head {
     flex-direction: column;
     justify-content: space-between;
     min-height: 100%;
}
.sub_head {
     margin: 5% 0%;
}
.filter-form{
  display: flex;
  gap: 10px;
  margin: 20px;
}

.filter-form input{
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #DDB321;
  background: transparent;
  color: rgb(170 168 168);
}
.filter-form input:focus,
.filter-form select:focus {
      border-color: #ffeb3b !important;
    outline: #ffeb3b !important;
    box-shadow: 0 0 8px rgba(221, 179, 33, 0.4);
}
.filter-form select {
    appearance: none;
    -webkit-appearance: none;
    background-color: #111 !important; 
    color: #f4d569e2 !important;       
    padding: 8px 15px;
    border: 1px solid #DDB321;
    border-radius: 5px;
    width: 364px;
    height: 45px; 
    cursor: pointer;
}

.filter-form select option {
    background-color: #111 !important; 
    color: #f4d569e2 !important;       
    padding: 10px;
}

/* Pagination  */

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.page-info {
  color: #bbb;
}

.product-form {
     width: 20rem;
     max-width: 90%;
     margin: auto;
 }
 
 .product-item {
  width: 15rem;
     max-width: 95%;
  
  display: flex;
  flex-direction: column;
 }

  .product__title {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 600;
  color: #fff;
}

.product__price {
  text-align: center;
  color: #f0d77e;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
  font-size: 0.9rem;
  color: #bbb;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
 .flex_able {

   display: flex;
   flex-wrap: wrap;
   justify-content:center;
   align-items: stretch;
   width: 100%;
   gap: 1.1%;
 }
 /* Wishlist  */
 .wishlist-btn {
  background: transparent;
  border: 1px solid #f0d77e;
  color: #f0d77e;
  border-radius: 50%;
     width: 25px;
    height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.3s ease;
}

.wishlist-btn i {
  font-size: 1rem;
}

.wishlist-btn:hover {
  background: linear-gradient(135deg, #f0d77e, #c99c38);
  color: #000;
  transform: scale(1.1);
}
 .spinner {
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-top: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  animation: spin 0.6s linear infinite;
  margin-left: 5px;
}

.hidden {
  display: none;
}


.card {
 box-shadow: 0 8px 10px 9px rgba(240, 215, 126, 0.15);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
  background: #111;
  justify-content: space-between !important;
  height: 100%;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(240, 215, 126, 0.25);
   cursor: pointer;
}
  .card__header,
  .card__content {
    padding: 1rem;
  }
  
  .card__header h1,
  .card__content h1,
  .card__content h2,
  .card__content p {
    margin: 0;
     flex-grow: 1;
  }
  
  .card__image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        gap: 2%;
  }

   .card__image img {
  width: 80%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
  
  .card__actions {
      padding: 1rem;
      text-align: center;
      gap: 5%;
  }
.font_sm {
      font-size: 0.8rem !important;
}

   .btn {
  margin: 0% !important;
     padding: 5px 10px !important;
}

.btn:hover {
  background: linear-gradient(135deg, #c99c38, #f0d77e);
  transform: scale(1.05);
}
   .order_invoice-container {
    flex-direction: column !important;
    margin: 1%;
    
  }
  .order_invoice-container a {
    margin-top: 5% !important ;
  }
  .p-1 {
     padding: 0.5% 1.5% !important;
  }
/* Product details style  */

.product-detail-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.product-detail-card {

  flex-direction: column;
  gap: 40px;
  max-width: 1000px;
  width: 70%;

  background: linear-gradient(180deg, #111, #1a1a1a);
  border-radius: 16px;
  padding: 30px;

  box-shadow: 0 8px 20px rgba(240, 215, 126, 0.15);
  transition: 0.3s;
}
.product-detail-content {
width: 54%;
  flex-direction: column;
      gap: 5%;
}
.details_btn {
      padding: 13px 17px !important;
          font-size: 1.1rem;

}


.product-detail-image img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s;
}

.product-detail-image img:hover {
  transform: scale(1.3);
}



.product-title {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
}


.product-price {
  font-size: 1.4rem;
  color: #f0d77e;
  font-weight: bold;
  margin: 10px 0;
}

.product-desc {
  color: #bbb;
  line-height: 1.6;
}

.product-actions {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.wishlist-btn {
  background: transparent;
  border: 1px solid #f0d77e;
  color: #f0d77e;
}

.wishlist-btn:hover {
  background: #f0d77e;
  color: #000;
}

footer {
    position: relative;
    margin-top: 40px;
    text-align: center;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}