.body_head {
     flex-direction: column;
     justify-content: space-between;
     min-height: 100%;
}
.sub_head {
     margin: 5% 0%;
}
.product-form {
     width: 20rem;
     max-width: 90%;
     margin: auto;
 }
 
 .product-item {
  width: 15rem;
     max-width: 95%;
 }
 
 .product__title {
     font-size: 1.2rem;
     text-align: center;
 }
 
 .product__price {
     text-align: center;
     color: #b6b0b0;
     margin-bottom: 0.5rem;
 }
 
 .product__description {
     text-align: center;
 }
 .flex_able {

   display: flex;
   flex-wrap: wrap;
   justify-content:center;
   align-items: stretch;
   width: 100%;
 }
 
  .card {
    box-shadow: 1px 0px 12px 3px #f0d77e7d;
    margin: 2%;
  }

  .card__header,
  .card__content {
    padding: 1rem;
  }
  
  .card__header h1,
  .card__content h1,
  .card__content h2,
  .card__content p {
    margin: 0;
  }
  
  .card__image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card__image img {
    width: 60%;
  }
  
  .card__actions {
      padding: 1rem;
      text-align: center;
      gap: 5%;
  }
/*   
  .card__actions button,
  .card__actions a {
      margin: 0 0.25rem;
      padding: 1.1%;
  } */
  
  .btn {
    font: inherit;
    border: 1px solid #f0d77e;
    color: #3d3d3d;
    background: #f0d77e;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none !important;
  }
  .order_invoice-container {
    flex-direction: column !important;
    margin: 1%;
    
  }
  .order_invoice-container a {
    margin-top: 5% !important ;
  }
  .p-1 {
     padding: 0.5% 1.5% !important;
  }
  
  .btn:hover,
  .btn:active {
    background-color: #b1afaf;
    color: #000;
  }
  
footer {
    margin-left: 5% !important;
    position: absolute;
    left: 0;
    right: 0;
}