extends layouts/main.pug

block styleLinks
     link(rel="stylesheet", href="/Css/home.css")

block contains 
     main.flex
          .body_head.flex
               .data.flex
                         h2.sub_head The Street is all yours. 
                              span.highlight Lambo Revuelto
                         p.details Revuelto, the first HPEV (High Performance Electrified Vehicle) hybrid super sports car. The iconic V12 is celebrated by being on full display in the rear
                         .btns
                              a.btn.main_btn(href='/app.product') Add Product
                              a.btn.sub_btn(href='/') My Products
                         //- <!-- <img src="./img_src/mainBackground_Img.jpg." alt="car Photo" srcset=""> -->
                         .car_details.flex
                              span
                                   p.data 350 km/h
                                   p.data_sub Top speed
                              span
                                   p.data 17,8 l/100km (WLTP)
                                   p.data_sub Battery Range
                              span
                                   p.data 1015 CV
                                   p.data_sub Max Power
     footer.flex
          .logo
               img(src='../img_src/lamborghini-car-logo.jpg',alt='Logo Image')
          p Cooded by
               a.footer__link(target='_blank',href=' https://github.com/Tamana543',title='contact me 👩‍💻 ') Tamana Farzami