<%- include('../layouts/start.ejs') %>
     <!-- <link rel="stylesheet" href="/Css/addProduct.css"> -->
</head>

<body>
     <div class="container">
          <%- include('../layouts/navigation.ejs') %>
     <main class="flex">
          <% if(prods.length > 0) { %>

         <h1>cart shop</h1>
         <% prods.forEach(prod=> { %>
         <div class="card text-bg-dark">
               <img src="..." class="card-img" alt="...">
               <div class="card-img-overlay">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
               <p class="card-text"><small>Last updated 3 mins ago</small></p>
          </div>
          <% }) %>
          <% } %>
</div>
          <%- include('../layouts/end.ejs') %>