<%- include('../layouts/start.ejs') %>
     <!-- <link rel="stylesheet" href="/Css/addProduct.css"> -->
</head>

<body>
     <div class="container">
          <%- include('../layouts/navigation.ejs') %>
     <main class="flex">
         <h1>Index shop</h1>
          <%- include('../layouts/end.ejs') %>